.icon-tv {
    background-image: url(../images/icon_1.png)
}

.icon-dsj {
    background-image: url(../images/icon_2.png)
}

.icon-dm {
    background-image: url(../images/icon_3.png)
}

.icon-zy {
    background-image: url(../images/icon_4.png)
}